<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cliente SUAP Django</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  </head>
  <body>
		<section class="hero is-light is-bold">
	    <div class="hero-body">
	      <div class="container">
	        <h1 class="title">Cliente SUAP Django</h1>
	      </div>
	    </div>
	  </section>
  	<section class="section">
		  <div class="container">
	  		<div class="content">
          <a class="button is-success is-large" href="{% url 'social:begin' 'suap' %}">
              Logar com SUAP
          </a>
		  	</div>
		  </div>
	  </section>
	</body>
</html>
<html>
