<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cliente SUAP Django</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  </head>
  <body>
		<section class="hero is-link is-bold">
	    <div class="hero-body">
	      <div class="container">
	        <h1 class="title">Cliente SUAP Django</h1>
	      </div>
	    </div>
	  </section>
  	<section class="section">
		  <div class="container">
	  		<div class="content">
                <h2>Olá, {{ user.get_full_name }}!</h2>
                <strong>username:</strong> {{ user.username }}<br/>
                <strong>first name:</strong> {{ user.first_name }}<br/>
                <strong>last name:</strong> {{ user.last_name }}<br/>
                <strong>email:</strong> {{ user.email }}<br/>
                {% with extra_data=user.social_auth.get.extra_data %}
                    {% for k, v in extra_data.items %}
                        <strong>{{ k }}:</strong> {{ v }}<br/>
                    {% endfor %}
                {% endwith %}
                <hr/>
                <a class="button is-danger is-large" href="{% url 'logout' %}?next=/">Encerrar Sessão</a>
		  	</div>
		  </div>
	  </section>
	</body>
</html>
<html>

